* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(229, 255, 0);
    height: 100%;
}

.capa {
    width: 100%;
    object-fit: cover;
    height: 400px; /* mudar */

}

.infoHeader {
    padding-top: 15px;
    background-color: black;
}

.titulo {
    text-align: 15px;
    background-color: black;
}

nav {
    padding: 20px;
}

nav a {
    text-decoration: none;
    color: aliceblue;
    padding: 30px;
    font-size: 20px;
    font-weight: bold;
}
